<app-form
  [formConfig]="formConfig"
  [form]="form"
  [formTemplate]="formTemplate"
  [bottomSpacing]="true"
  [canEdit]="canEdit()"
  [editButtonRouterLink]="[editLink]"
  [editButtonQueryParams]="{tab: 'details'}"
  (submitted)="submit()"
></app-form>

<ng-template #formTemplate>
  <div class="w-100">
    <app-audit-detail-section
      [data]="originalGroup"
      [formMode]="formConfig.mode"
    ></app-audit-detail-section>
    <app-form-section headerText="Group Details" [indent]="true">
      <app-input
        label="Group Name"
        [readonly]="formConfig.mode | inputReadonly"
        [inputFormControl]="form | formGet : 'name'"
      ></app-input>
      <app-select
        label="Status"
        optionValueKey="value"
        optionDisplayKey="displayValue"
        [inputFormControl]="form | formGet : 'status'"
        [options]="groupStatusOptions"
      ></app-select>
      <app-input
        label="Base Currency (ISO 4217)"
        helpText="Three-letter accounting currency used for receipt totals and reports, for example AUD."
        [readonly]="formConfig.mode | inputReadonly"
        [inputFormControl]="form | formGet : 'baseCurrencyCode'"
      ></app-input>
      <app-checkbox
        label="Isolate members"
        helpText="When on, members of this group can't see each other. Members with a role that can see all members remain visible to everyone."
        [readonly]="formConfig.mode | inputReadonly"
        [inputFormControl]="form | formGet : 'isolateMembers'"
      ></app-checkbox>
    </app-form-section>
    <app-form-section
      headerText="Group Members"
      [headerButtonsTemplate]="buttonTemplate"
      [indent]="true"
    >
      <app-table
        [columns]="columns"
        [dataSource]="dataSource()"
        [displayedColumns]="displayedColumns"
        (sorted)="sortName($event)"
      >
      </app-table>
    </app-form-section>
  </div>
</ng-template>

<ng-template #buttonTemplate>
  <app-button
    *ngIf="!(formConfig.mode | inputReadonly) && canCreateGroupMembers()"
    data-testid="add-group-member"
    matButtonType="iconButton"
    icon="add"
    color="accent"
    tooltip="Add User to Group"
    (clicked)="addGroupMemberClicked()"
  ></app-button>
</ng-template>

<ng-template #nameCell let-element="element">
  {{ (element.userId | user)?.displayName }}
</ng-template>

<ng-template #roleCell let-element="element">
  {{ element.groupRoleId | roleName : roles() : PermissionScope.Group }}
</ng-template>

<ng-template #actionsCell let-index="index">
  <div class="d-flex">
    <app-edit-button
      *ngIf="canUpdateGroupMembers()"
      data-testid="group-member-edit"
      tooltip="Edit group member"
      color="accent"
      (clicked)="editGroupMemberClicked(index)"
    ></app-edit-button>
    <app-delete-button
      *ngIf="canDeleteGroupMembers()"
      tooltip="Remove group member"
      [disabled]="disableDeleteButton"
      (clicked)="removeGroupMember(index)"
    ></app-delete-button>
  </div>
</ng-template>
